# 06 Aggregate Static Fighter Info
- Purpose of this notebook: 
    - Aggregate the static fighter data from V1 and the ufc fighter page info
    - Cleanse any leftover missing values

## Imports

In [3]:
import pandas as pd

## Grab both dataframes

In [4]:
fighter_page_info = pd.read_csv('../../02_Data/02_Processed_Data/fighter_page_info.csv', index_col=0)
df = pd.read_csv('../../02_Data/02_Processed_Data/fighter_page_info.csv', index_col=0)

In [5]:
static_fighter_stats = pd.read_csv('../../02_Data/02_Processed_Data/fighter_static_stats.csv', index_col =0)

## Let's see whats missing in both dataframes

In [19]:
def check_nulls(df):    
    return df.loc[:,df.isnull().sum()!=0].isnull().sum()

In [25]:
fighter_page_info.head(2)

  fighter_slug  reach  weight  height  leg_reach
0  dannyabbadi    NaN   185.0    71.0        NaN
1   tankabbott    NaN   250.0    72.0        NaN

In [21]:
static_fighter_stats.shape

(1100, 4)

In [22]:
check_nulls(fighter_page_info)

reach        1087
weight        344
height        357
leg_reach    1431
dtype: int64

## Join to the training sub to see what actually matters

In [23]:
train = pd.read_csv('../../02_Data/02_Processed_Data/train_stub.csv', index_col=0)

In [24]:
train.head(2)

,eventid,fightid,f1_fullname,f2_fullname,f1_fighterid,f2_fighterid,f1_outcome,f1_slug,f2_slug
0,644,4512,Antonio Silva,Mark Hunt,1431,735,Win,antoniosilva,markhunt
1,644,4468,James Te-Huna,Mauricio Rua,1476,457,Loss,jamestehuna,mauriciorua

In [26]:
fighter_page_info.head(2)

  fighter_slug  reach  weight  height  leg_reach
0  dannyabbadi    NaN   185.0    71.0        NaN
1   tankabbott    NaN   250.0    72.0        NaN

In [49]:
# First Prep DataFrame by updating columns

fpi_f1 = fighter_page_info.copy()
fpi_f1.columns = ['f1_'+col for col in fpi_f1.columns]
df = train.merge(fpi_f1, how='left', left_on="f1_slug", right_on="f1_fighter_slug")
df = df.drop(columns='f1_fighter_slug')

fpi_f2 = fighter_page_info.copy()
fpi_f2.columns = ['f2_'+col for col in fpi_f2.columns]
df = df.merge(fpi_f2, how='left', left_on="f2_slug", right_on="f2_fighter_slug")
df = df.drop(columns='f2_fighter_slug')

In [50]:
df.head()

,eventid,fightid,f1_fullname,f2_fullname,f1_fighterid,f2_fighterid,f1_outcome,f1_slug,f2_slug,f1_reach,f1_weight,f1_height,f1_leg_reach,f2_reach,f2_weight,f2_height,f2_leg_reach
0,644,4512,Antonio Silva,Mark Hunt,1431,735,Win,antoniosilva,markhunt,80.0,264.0,76.0,43.0,72.0,265.0,70.0,43.0
1,644,4468,James Te-Huna,Mauricio Rua,1476,457,Loss,jamestehuna,mauriciorua,75.0,185.0,74.0,44.0,76.0,205.0,73.0,40.0
2,644,4531,Anthony Perosh,Ryan Bader,175,503,Loss,anthonyperosh,ryanbader,75.0,205.0,75.0,44.0,74.0,205.0,74.0,44.0
3,644,4515,Soa Palelei,Pat Barry,306,382,Win,soapalelei,patbarry,81.0,265.0,76.0,NaN,74.0,235.0,71.0,NaN
4,644,4518,Clint Hester,Dylan Andrews,2061,2062,Win,clinthester,dylanandrews,77.0,205.0,74.0,NaN,74.0,185.0,73.0,NaN

In [51]:
check_nulls(df)

f1_outcome      105
f1_slug           1
f2_slug           1
f1_reach        108
f1_weight         2
f1_height         7
f1_leg_reach    812
f2_reach        108
f2_weight         2
f2_height         7
f2_leg_reach    812
dtype: int64

In [52]:
df.shape

(4830, 17)