# 05 Cleanse V1 into Fighter Static Info

## Imports

In [25]:
import pandas as pd
import numpy as np
from scipy import stats

## Import V1_DF_w_flipped and convert columns to lowercase

In [26]:
V1_df = pd.read_csv('../../02_Data/02_Processed_Data/V1_DF_w_flipped.csv', index_col=0)
V1_df = V1_df.reset_index().drop(columns='index')
V1_df.columns = [col.lower() for col in V1_df.columns]

In [27]:
# Build out the list of columns I want to pull from V1_df
stats_columns = ['eventid','f1_fighterid', 'f1_height','f1_weight','f1_stance']

# Create a dataframe fighter_stats
fighter_static_stats = V1_df[stats_columns].copy()
# Change Stance to boolean
fighter_static_stats.f1_stance = fighter_static_stats.f1_stance.map(lambda x: 0 if x == 'Orthodox' else 1)
fighter_static_stats.columns = ['eventid']+[col[3:] for col in fighter_static_stats.columns if 'eventid' != col]

## Use fighter page info to join here

In [28]:
fighter_page_info = pd.read_csv('../../02_Data/02_Processed_Data/fighter_page_info.csv', index_col=0)

In [29]:
fighter_page_info.head(2)

  fighter_slug  reach  weight  height  fighterid
0  dannyabbadi    NaN   185.0    71.0        NaN
1   tankabbott    NaN   250.0    72.0        NaN

There are 220 weights with 0 value in the static fighter stats.  Use data from fighter page info to fill it in

In [30]:
fighter_static_stats[fighter_static_stats.weight == 0].shape

(220, 5)

## Fill in 0 weights using fighter page info

In [31]:
def get_fighter_page_info(fighter_id):
    try:
        value = fighter_page_info.loc[fighter_page_info.fighterid==fighter_id,'weight'].iloc[0]
    except:
        value = 0
    
    return value

In [32]:
fighter_static_stats.loc[fighter_static_stats.weight == 0,'weight'] = \
fighter_static_stats[fighter_static_stats.weight == 0]['fighterid'].map(get_fighter_page_info)

After filling, 1 fighter is still 0 weight.  He has a height of 70 inches.  Use the mode of fighters that are 70 inches tall to fill in the value

In [33]:
fighter_static_stats[fighter_static_stats.weight == 0]

     eventid  fighterid  height  weight  stance
550      628       1920      70     0.0       1

In [34]:
fighter_static_stats[fighter_static_stats.weight == 0] = \
fighter_static_stats[fighter_static_stats.height==70].weight.value_counts().keys()[0]

No More 0 weights

In [35]:
fighter_static_stats[fighter_static_stats.weight == 0].shape

(0, 5)

## Finally, merge reach from fighter page info onto static fighter stats
- We won't need to merge fighter page info anymore

In [36]:
fighter_page_info.head()

         fighter_slug  reach  weight  height  fighterid
0         dannyabbadi    NaN   185.0    71.0        NaN
1          tankabbott    NaN   250.0    72.0        NaN
2  shamilabdurakhimov   76.0   235.0    75.0     2424.0
3           daichiabe   71.0   170.0    71.0     2964.0
4           papyabedi   74.0   185.0    71.0     1878.0

In [37]:
for_merge = fighter_page_info[['fighterid','reach']].dropna()

In [38]:
fighter_static_stats = fighter_static_stats.merge(for_merge, how='left', on='fighterid')

## 107 reach values are null.  Impute the reach using the height

In [39]:
fighter_static_stats.isnull().sum()

eventid        0
fighterid      0
height         0
weight         0
stance         0
reach        107
dtype: int64

In [40]:
fighter_static_stats.loc[fighter_static_stats.reach.isnull(), 'reach'] = \
fighter_static_stats[fighter_static_stats.reach.isnull()].height

## Calculate physical property ratios
- reach to height ratio
- reach to weight ratio
- height to weight ratio

In [41]:
fighter_static_stats['reach_height_ratio'] = fighter_static_stats.apply(lambda x: x['reach']/x['height'], axis=1)
fighter_static_stats['reach_weight_ratio'] = fighter_static_stats.apply(lambda x: x['reach']/x['weight'], axis=1)
fighter_static_stats['height_weight_ratio'] = fighter_static_stats.apply(lambda x: x['height']/x['weight'], axis=1)

## Export fighter static stats - to be merged using eventid and fighterid

In [42]:
fighter_static_stats.to_csv('../../02_Data/02_Processed_Data/fighter_static_stats.csv')